
{% load static %}

{% include 'navbar.html' %}

<style>

body{
    background:#0f172a;
    font-family:Poppins;
}

.container{
    width:90%;
    max-width:1200px;
    margin:40px auto;
}

.heading{
    color:white;
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    background:white;
    border-radius:20px;
    padding:25px;
}

.card h2{
    margin-bottom:15px;
}

.delete-btn{
    display:block;
    text-align:center;
    background:red;
    color:white;
    padding:12px;
    border-radius:10px;
    text-decoration:none;
    margin-top:15px;
    font-weight:bold;
}

</style>

<div class="container">

    <h1 class="heading">
        👥 All Sellers
    </h1>

<form method="GET"
      style="
      margin-bottom:30px;
      display:flex;
      gap:15px;
      ">

    <input type="text"

           name="search"

           placeholder="Search Seller..."

           value="{{ request.GET.search }}"

           style="
           flex:1;
           padding:15px;
           border:none;
           border-radius:12px;
           font-size:16px;
           ">

    <button type="submit"

            style="
            background:#2563eb;
            color:white;
            border:none;
            padding:15px 25px;
            border-radius:12px;
            font-weight:bold;
            cursor:pointer;
            ">

        🔍 Search

    </button>

</form>



    <div class="cards">

        {% for seller in sellers %}

        <div class="card">

            <h2>
                {{ seller.name }}
            </h2>

            <p>
                <b>Email:</b>
                {{ seller.email }}
            </p>

            <p>
                <b>City:</b>
                {{ seller.city }}
            </p>

            <p>
                <b>State:</b>
                {{ seller.state }}
            </p>

        </div>

        {% endfor %}

    </div>

</div>

{% include 'footer.html' %}