
<style>

.footer{

    background:#0f172a;
    color:white;
    padding:50px 10%;
    margin-top:80px;
}

.footer-container{

    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:40px;
}

.footer h2{

    margin-bottom:20px;
    color:#22c55e;
}

.footer p,
.footer a{

    color:#cbd5e1;
    text-decoration:none;
    line-height:2;
}

.footer a:hover{

    color:white;
}

.footer-bottom{

    text-align:center;
    margin-top:40px;
    padding-top:20px;
    border-top:1px solid #334155;
    color:#94a3b8;
}

</style>

<footer class="footer">

    <div class="footer-container">

        <!-- COMPANY -->

        <div>

            <h2>♻ GreenCycle India</h2>

            <p>

               ♻ Smart Recycling • Better Earnings • Greener India

Connecting Waste Sellers and Buyers to Create a Sustainable Future.
            </p>

        </div>

        <!-- SUPPORT -->

        <div>

            <h2>Support</h2>

            <p>
                <a href="/">Home</a>
            </p>

            <p>
                <a href="/buy/">Buy Waste</a>
            </p>

            <p>
                <a href="/sell/">Sell Waste</a>
            </p>

            <p>
                <a href="/contact/">Contact</a>
            </p>

        </div>

        <!-- CONTACT -->

        <div>

            <h2>Contact Us</h2>

            <p>📞 +91 6354279205</p>

            <p>📧 support@greencycle.com</p>

            <p>📍 Hyderabad, India</p>

        </div>

    </div>

    <div class="footer-bottom">

        © 2026 GreenCycle India |
        All Rights Reserved

    </div>

</footer>

