{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% include 'navbar.html' %}

<style>

body{
    background: linear-gradient(135deg, #0f172a, #1e293b, #334155);
    font-family:Poppins;
    min-height:100vh;
}

.login-type-container{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:120px;
    flex-wrap:wrap;
}

.type-card{
    width:340px;
   background: #f8c80a;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.type-card:hover{
    transform:translateY(-10px);
}

.type-card h2{
    margin-bottom:15px;
    color:#111827;
    font-size:28px;
    font-weight:bold;
    white-space: nowrap;
}

.type-card a{
    display:inline-block;
    margin-top:20px;
    padding:12px 22px;
    background:green;
    color:white;
    text-decoration:none;
    border-radius:10px;
}

</style>

<div class="login-type-container">

    <!-- Seller -->
    <div class="type-card">

        <h2>👤 Seller Login</h2>

        <p>
            Sell your waste materials easily.
        </p>

        <a href="/seller-login/">
            Continue
        </a>

    </div>

    <!-- Buyer -->
    <div class="type-card">

        <h2>🛒 Buyer Login</h2>

        <p>
            Buy available waste materials.
        </p>

        <a href="/buyer-login/">
            Continue
        </a>

    </div>

</div>
{% include 'footer.html' %}